[build]
  command = "npm ci && npm run build"
  publish = "dist"
  ignore = "contracts/*,hardhat.config.js,deploy-coin-toss.js"

[build.environment]
  NODE_VERSION = "20"
  NPM_FLAGS = "--legacy-peer-deps"
  NODE_ENV = "production"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
